# environment variable here
MASTER_KEY=your_master_key_here
RSA_KEY_SIZE=2048
CA_VALIDITY_DAYS=3650
CA_ORG_NAME="My System Root CA"
CA_COUNTRY_NAME="VN"
CA_PRIVATE_KEY_PASSPHRASE="your_secure_passphrase_here"