# environment variable here
MASTER_KEY=your_master_key_here
RSA_KEY_SIZE=2048
CA_VALIDITY_DAYS=3650
CA_ORG_NAME="My System Root CA"
CA_COUNTRY_NAME="VN"
CA_PRIVATE_KEY_PASSPHRASE="your_secure_passphrase_here"

CERT_PATH_CA=secrets/secrets/rootCA.crt
KEY_PATH_CA=secrets/secrets/rootCA.key
ISSUER_CA=123e4567-e89b-12d3-a456-426614174000
SUPABASE_URL=https://ypgjagmfsksnvhhxtkfd.supabase.co
SUPABASE_ANON_KEY=sb_publishable_dFsOuSNU96-6w9oh9vEXEg_ky-mOsgq
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here