-----BEGIN CERTIFICATE-----
MIIDNTCCAh2gAwIBAgIUD9IIZ+H+b0PlLbwnnMeTPfZj4x8wDQYJKoZIhvcNAQEL
BQAwSjEfMB0GA1UEAwwWU3lzdGVtX1Jvb3RfQ0FfRXhhbXBsZTEaMBgGA1UECgwR
TXkgU3lzdGVtIFJvb3QgQ0ExCzAJBgNVBAYTAlZOMB4XDTI2MDMyMTE3MTAwMVoX
DTM2MDMxODE3MTAwMVowSjEfMB0GA1UEAwwWU3lzdGVtX1Jvb3RfQ0FfRXhhbXBs
ZTEaMBgGA1UECgwRTXkgU3lzdGVtIFJvb3QgQ0ExCzAJBgNVBAYTAlZOMIIBIjAN
BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmzzV3hW7x39Ty9cxwKbvZ1M7Aofu
eJL49JLje6sVtDV9aIINI4bmeBmPbXPKKaRtBck+0UnMx01CXhroGWciMp5SMfKK
hX61Xz1OAnHING+VsbWtQ4fHOnlg9ulnTkDnllS2DQmG0V4jfKXu3gcAYh9WWttd
O+JQ1T7oPLu+ZRma73hXAOuHKE5pylD433eCtnO/9k/0+bWsQDiDFxyg0VkQwKIS
PusLxz4LVpQxNkZ9m9Gnkf7Kk4yjawB3c9EhpVi69x1NY2x5vbNlpacVczomUlEF
Xw/LG59oZT8VDpx2ICTR0hDzlbqbHMAq25146X52zfnPLb/eTB26hq8AFQIDAQAB
oxMwETAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQBqbVJBhWab
N2ElHBbmR8JbtBNxTBgqyeGgu6XJRgVFr7YyqLgnd10ouNPKO7sWVZCVVFviBPVo
UTiCfVLomS7EbcVA69heHKbYbzLqcARuu7AS0Q2TCcUdNbSMoW+JxzSjux8/esaA
K9mrJjwfNanwvuKvkMBueVbwSdjxUrsr9fLo2jRD+bOSYfjJ/VtzxefRTwzF1AGa
Oxu84u0ZkD1gs3635lkuV+hVOvCYXOt2ncw/gRvr6inEbo8eW1BXgbhTh4/xXSUA
R4/jT3HdY7i3XQU/hWhIpc89hz2UzVo34wB7A+DU9KcCegcBpp3cKCYFVakNYwoD
MsOHao00ZGBl
-----END CERTIFICATE-----
