-----BEGIN CERTIFICATE-----
MIIDNTCCAh2gAwIBAgIUU9quQM1Zadw9ElskdjicyndP7kgwDQYJKoZIhvcNAQEL
BQAwSjEfMB0GA1UEAwwWU3lzdGVtX1Jvb3RfQ0FfRXhhbXBsZTEaMBgGA1UECgwR
TXkgU3lzdGVtIFJvb3QgQ0ExCzAJBgNVBAYTAlZOMB4XDTI2MDMyMTEyNTU1MFoX
DTM2MDMxODEyNTU1MFowSjEfMB0GA1UEAwwWU3lzdGVtX1Jvb3RfQ0FfRXhhbXBs
ZTEaMBgGA1UECgwRTXkgU3lzdGVtIFJvb3QgQ0ExCzAJBgNVBAYTAlZOMIIBIjAN
BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1PI96P8BJK79SudyyVW2Qp/+3V2z
knSZDPRDZdo7cSSDv8ZFlz5pnz9IX7xElGt8JlnmVwccM8lTxcoNdbih/XvTII2C
5zfmyQi60zduOsqL1Lt1r7P6q2e1kD86qH/0w8hXilAY1dDNxpC3cl2g8Q8jzoJ2
84Tk0NcFNJNedG32ENwYm18kOx823BpIcupQsLm4oL1N0lG2oeIwcy8mpvxvi26A
z3YIyE+8B08yeAWfcR2qePC6mv+KyOsPNbZ+COJv0CAgMzWMtEyqg8/cYwLIF8Sn
JK32hhVR8+ilP1j9CrsSPJU6fQIUvmWutrK5zydsXbKwR+uwvZDclToXGwIDAQAB
oxMwETAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQCjJFpglJP7
Wx3f3JK7o4AOdpC2AaNIrB5/cjuUkQIYHrdFWlrHI+ffwDgqq0sJF7xhEefVPiHh
oPmKA2RYTzkBfaphN3mx7YS8N1QsX/9hamX+7tm/BaZredDkgkpSjkmzzIAIEV/c
xS/9wUHeyuybhMRGm8uZAOKAEURCaEKHzh0u3RHlua+7UTdMuHzqI36hYOXpYDVp
t8G0nWu0pmyJP7lG2tcA1iqOZgLo9WMt9xlAx4e5UwwYorHeZl9m91yhrjE5G3Pp
6uOjwnU4dZrXeGd/yV7C+DMLS6UTy9xHrG1KAM3eiZpOCJjhyzyFNXebfIJDSWfK
ytPFiKI2lGi0
-----END CERTIFICATE-----
