-----BEGIN CERTIFICATE-----
MIIDKzCCAhOgAwIBAgIUZtbd3wJrf5LoRmkGEo9MVOSipEEwDQYJKoZIhvcNAQEL
BQAwRTEaMBgGA1UEAwwRTXkgU3lzdGVtIFJvb3QgQ0ExGjAYBgNVBAoMEU15IFN5
c3RlbSBSb290IENBMQswCQYDVQQGEwJWTjAeFw0yNjA0MjgwOTQxMDJaFw0zNjA0
MjUwOTQxMDJaMEUxGjAYBgNVBAMMEU15IFN5c3RlbSBSb290IENBMRowGAYDVQQK
DBFNeSBTeXN0ZW0gUm9vdCBDQTELMAkGA1UEBhMCVk4wggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQCMqiHHbesqnnSotPn16+bwwIqp71c6ctDm1EW53f8Y
DUPX3QdvBUKibM/KIkvG0d9oPAN8Q/hDkrO1+vFm55IqSRIG+o7YiT35SV4+cuBE
w9nAsW7556TPBfTE9P+404lCIIV0UagbZVT2XPZhrJKrTEeSMGET+qoEqAISY5lh
rW0HZ5XLPhixwkmr69sUwF4deuKLyHuiZBaraR7ZQwiq2zhmIAstPG6bnnDEFW8/
lBlR1GgjNN4+h0EnAu94IaLqCr/H9pPoYBiAT3o2l1quYu3rqeBKMNq0t++MBnVf
iq+II6FyjsDI0j6OAgetfFVqc7vHL34lS/tGxvvQ2d8BAgMBAAGjEzARMA8GA1Ud
EwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggEBAC2jJ84YX5UgdfQz8SY+LOBh
jHHfZVn+4UK2c5996ThLQVxXObTgzCraOk1qXyzae+VR6TP/FKKYv0iLuEw9TcMn
OESVhlgwxI7Gpwpfbz8xvALvjz8CwXK2Nr+p3yK+kWYPWsnWgMpYrUg82VXaNKGS
Wl9zEMBeBZNRvoYwWFFW7wlDH5CBX9wkBjTAww/nUWVd2moq5fA9oebk7b5X8/hO
vqTnEHMacWTaWHRNcMkwBe3jvOA2GxSmWkro0Vo2iOhwgCcvkDnsnYA5c0ejJh0x
lWa8msaRRZigYosM2lUslntmZWaRtZ15g2nqwZHeiZPVqVjExA5SP097cAlA9GM=
-----END CERTIFICATE-----
