-----BEGIN CERTIFICATE-----
MIIDKzCCAhOgAwIBAgIUaHDhbzUnJqxXdb94oi8WacJ6E+YwDQYJKoZIhvcNAQEL
BQAwRTEaMBgGA1UEAwwRTXkgU3lzdGVtIFJvb3QgQ0ExGjAYBgNVBAoMEU15IFN5
c3RlbSBSb290IENBMQswCQYDVQQGEwJWTjAeFw0yNjA0MTYyMzA4NDNaFw0zNjA0
MTMyMzA4NDNaMEUxGjAYBgNVBAMMEU15IFN5c3RlbSBSb290IENBMRowGAYDVQQK
DBFNeSBTeXN0ZW0gUm9vdCBDQTELMAkGA1UEBhMCVk4wggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQDHtLXV3VvaLgRsax7ShVDvoGAb87ODtvHZluEzk/ES
fAqwwej1Ru7uwZe/wJrmtsSxQtBERhGSk7v0jGY2ZJz3D1atXDEmAgsJyihhQl1F
FcSPp6Xi3EAZxyn6ncvQAqdJCrR4h9AeFusC1W/ZkhJIKEObyAl7e/P7+bmzqpqz
KjSkV8tQ466egoM0cyTy11MSirV/+sX6Xfxfzcu3mkeAQpOUoz5UbecN3afeYwNG
Yu/jiALU1mjeZY17uyPIUtwA9ZZBM5+Rx/6UMU+iUS/IJSNeRTdiT+6qHZWvQJ+e
+pKVkaQpf/oPz1IyAjpUZrHsXk7qM/u7tFZKo9Z2iIonAgMBAAGjEzARMA8GA1Ud
EwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggEBADdNHI0B+ST3Rm6H1FTPHHrX
2WwCbWzo7H8CSYJPMIcOgrvdbAkBP7AbY73PIEzdTrG2BCzNan1Gp4I/vLFkqgjZ
gnY1DmvT9/mE9Zy5MPwVOo47EF806W8j6QSJ2cc2qxo61DJglkV+7XdNylOWkGTH
2Ce/MggB0asjAp/kckX9r+i7eXKF38MohTEpDtXUes6GIJ81jeiQkv8PFwlkV+Ny
eApII5uufX0mkjp8O/4wiYsciUajemAVWV3CmKxU8V6XIvYDOXXTv4Cy0HGogL79
BHmn084VkwBYmx608rhtBs+GTTeey9f4HxDQwqkQ6GwtVvh/YUlankNGqxnazPA=
-----END CERTIFICATE-----
