JWT_SECRET_KEY=
MASTER_KEY=
RSA_KEY_SIZE=2048
CA_VALIDITY_DAYS=3650
CA_ORG_NAME="My System Root CA"
CA_COUNTRY_NAME="VN"
CA_PRIVATE_KEY_PASSPHRASE="your_secure_passphrase_here"
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
ISSUER_CA=
KEY_PATH_CA="secrets/rootCA.key.example"
CERT_PATH_CA="secrets/rootCA.crt.example"
JWT_ACCESS_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=
NEXT_PUBLIC_API_BASE_URL=http://localhost:5000